<?xml version="1.0" encoding="UTF-8"?><testng-results failed="0" passed="8" skipped="0" total="8">
<suite duration-ms="6450" name="io.cucumber.core.plugin.TestNGFormatter">
<test duration-ms="6450" name="io.cucumber.core.plugin.TestNGFormatter">
<class name="API test">
<test-method duration-ms="1378" finished-at="2025-02-25T15:24:36.392Z" name="Should see LIST USERS of all existing users" started-at="2025-02-25T15:24:35.004Z" status="PASS"/>
<test-method duration-ms="70" finished-at="2025-02-25T15:24:36.480Z" name="Should see SINGLE USER data" started-at="2025-02-25T15:24:36.409Z" status="PASS"/>
<test-method duration-ms="42" finished-at="2025-02-25T15:24:36.526Z" name="Should see SINGLE USER NOT FOUND error code" started-at="2025-02-25T15:24:36.483Z" status="PASS"/>
<test-method duration-ms="370" finished-at="2025-02-25T15:24:36.905Z" name="CREATE a user" started-at="2025-02-25T15:24:36.532Z" status="PASS"/>
<test-method duration-ms="354" finished-at="2025-02-25T15:24:37.264Z" name="CREATE a user_2" started-at="2025-02-25T15:24:36.909Z" status="PASS"/>
<test-method duration-ms="325" finished-at="2025-02-25T15:24:37.596Z" name="LOGIN - SUCCESSFUL by a user" started-at="2025-02-25T15:24:37.269Z" status="PASS"/>
<test-method duration-ms="381" finished-at="2025-02-25T15:24:37.985Z" name="LOGIN - UNSUCCESSFUL by a user" started-at="2025-02-25T15:24:37.603Z" status="PASS"/>
<test-method duration-ms="3348" finished-at="2025-02-25T15:24:41.339Z" name="Should see the list of users with DELAYED RESPONSE" started-at="2025-02-25T15:24:37.988Z" status="PASS"/>
</class>
</test>
</suite>
</testng-results>
